/*
* Skeleton V2.0.4x
* Copyright 2014, Dave Gamache
* Minor tweaks (compared to version V2.0.4) by Sebastiaan
* Original on:
* www.getskeleton.com
* Free to use under the MIT license (also for this tweaked version).
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014 David Gamache
* 09/06/2020 Sebastiaan J.C. Joosten
*/


/* Table of contents

- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
*/


/* Grid
 */
.container, .card{
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.card { padding: 20px; margin-bottom: 20px; }
@media (min-width: 550px) {.card { margin-bottom: 40px; }}
.container {padding: 0}
.container .container, top .container {padding: 20px}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.big{
  min-height: 50px;
}
@media (min-height: 300px) {
.big{
  min-height: 100px;
}
}
.card{
  border-radius: 4px;
  border: 1px solid #00693e;
  background-color: #f2f2f2;
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .top .container {
    width: 80%;
    padding: 0; }
  .column,
  .columns {
    margin-left: 4%;
    margin-right: 4% }
    .column:first-child,
    .columns:first-child 
    .column:last-child,
    .columns:last-child {
    margin-left: 0;margin-right: 0; }
  
  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
 */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; 
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #005d39;
  background-color: #FFF;
  padding:0rem;
  margin:0rem;
}
.card {
  color: #000;
}
body{
  padding-top: 1rem;
}
body.top{
  padding:1rem;
}
/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h2, h4 { font-weight: 700; }
h1 { margin-top: 3rem; font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2,h3 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h4,h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; margin-bottom: 1.8rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; margin-bottom: 1.5rem; }

p {
  margin-top: 0; }
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  left: -1px;
  z-index: 1;
  margin: 0px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a{
  display: block;
  clear:both;
}

/* Links */
a {
  color: #006fae;
  cursor: pointer;
  text-decoration: underline;
}
a:hover {
  color: #816089; }

/* Buttons */
.button,.dropdown,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #005d39;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #005d39;
  background-color: #fff;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #f7f7f7;
  border-color: #b9d783;
  outline: 0 ;
  box-shadow: 0px 0px 2px 2px #FFF; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
 */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #00693e;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #c4dd88;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
 */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }



/* Code
 */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
 */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
 */
button,
.button {
  margin-top: 1rem; }
input,
textarea,
select,
fieldset {
  margin-top: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }
#header {display:flex;justify-content: space-between;}

/* Utilities
 */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }

/* Misc
 */
hr {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  border-width: 0;
  border-top: 2px solid #424141; 
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  min-width: 50%;
  max-width: 450px;
  position: relative;
  transition: all 0.5s ease-in-out;
  /* font-family: cursive; */
}
  
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.progressBar {
  width: 75%;
  position: relative;
  margin: auto;
  padding: 3px;
  height: 5px;
  background-image:-moz-linear-gradient(53% 13% -90deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);
  background-image:-webkit-gradient(linear,53% 13%,53% 79%,color-stop(0, rgb(58,64,80)),color-stop(0.47, rgb(58,64,80)),color-stop(0.48, rgb(46,50,62)),color-stop(1, rgb(46,50,62)));
  background-image:-webkit-linear-gradient(-90deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);
  background-image:linear-gradient(-180deg,rgb(58,64,80) 0%,rgb(58,64,80) 47%,rgb(46,50,62) 48%,rgb(46,50,62) 100%);
  -moz-border-radius: 10px; /* Firefox */
  -webkit-border-radius: 10px; /* Webkit */
  border-radius: 10px;
}
.progressBar div {
  height: 100%;
  width: 0;
	font-size: 3px;
	color: white;
	text-align: right;
	text-shadow: 0px 0px 2px #000;
	text-indent: 9999px;
	overflow: hidden;

	background-image:-webkit-gradient(linear,71% 25%,71% 69%,color-stop(0, #078a44),color-stop(0.47, #078a44),color-stop(0.48, #01693e),color-stop(1, #01693e));
	background-image:-webkit-linear-gradient(-90deg,#078a44 0%,#078a44 47%,#01693e 48%,#01693e 100%);
	background-image:-moz-linear-gradient(71% 25% -180deg,#078a44 0%,#078a44 47%,#01693e 48%,#01693e 100%);
	background-image:linear-gradient(-180deg,#078a44 0%,#078a44 47%,#01693e 48%,#01693e 100%);

	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Webkit */
	border-radius: 10px;
}

.popup h1 {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin:15px;
  margin-bottom:15px;
  text-align: center;
  transform: rotate(-5deg);
}

.popup div{
  text-align:center;
}

.center{margin:auto}

.note{font-size: x-small;}

.dropdown>span{
  width:100%;
}
ul.dropdown-content>li{
  padding: 5px;
  border: 1px solid #005d39;
  list-style:none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
}
ul.dropdown-content>li:hover{
  border: 1px solid #c4dd88;
}

/* graph stuff */
.graph {min-width: width 200px;
        height: 300px;}
/* sortable stuff */

ul.sortable>li{
  list-style:none;
  width:100%;
  border: 1px dotted black;
  padding: 5px;
  margin: -1px;
  cursor: move;
}
li.sortable-ghost{
  border: 1px dotted black;
	box-shadow: 0 0 3px 1px #424141;
}

<<<<<<< HEAD
=======

/* js ui elements */

.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}
.ui-selectable {
	-ms-touch-action: none;
	touch-action: none;
}
.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted black;
}

.ui-visual-focus {
	box-shadow: 0 0 3px 1px #424141;
}
>>>>>>> main
